@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    list-style-type: none;
    text-decoration: none;
}

header {
    display: flex;
    position: fixed;
    z-index: 10;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Nav Site */
.logo {
    width: 3.5vw;
    padding-top: 2vh;
}

.web-nav {
    display: flex;
    justify-content: start;
    background-color: #ffffff;
    width: 4.7vw;
    height: 100vh;
    box-shadow: 1px 0px 4px 1px rgba(0, 0, 0, 0.2);
}

.nav-section {
    display: flex;
    flex-direction: column;
    padding-top: 25vh;
}

.nav-icon {
    width: 2vw;
    margin-block: 2vh;
}


/* Nav Catégories */

.category-nav {
    /* à mettre en none pour dev en attendant la fonctionnalité css */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(74, 137, 162, 0.9);
    backdrop-filter: blur(2.5px);
    position: absolute;
    margin-left: 4.7vw;
    width: 20vw;
    height: 100vh;
    /* display: none; */

    transition: 0.3s;
}

.categories h2 {
    font-size: 1em;
    font-weight: 200;
    color: #ffffff;
}

.category-hr{
    height: 60vh;
    width: 2px;
    background: #ffffff;
}

.categories{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-left: 2em;
    /* width: 10vw; */
}

/* select {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
} */
select {
    padding: 11px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Mode sombre / clair */

.dark-mode {
    background-color: #2f2f2f;
    color: #ffffff;
}

.fa-heart:before {
    color: white;
    cursor: pointer;
}


/* Main */

main {
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 4.7vw
}

.container {
    width: 85%;
}

.search-section {
    margin-bottom: 6vh;
    display: flex;
    align-items: center;
}

.search-section a {
    z-index: 8;
    position: absolute;
    padding-left: 0.8vw;
    padding-top: 0.5vh;
}

.search-icon {
    height: 3vh;
}

.search-input {
    width: 30vw;
    height: 5vh;
    background-color: #f1f1f1;
    border: none;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin-right: 5vw;
    padding-left: 3vw;
    z-index: 7;
}

.category-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-title {
    font-size: 2.2em;
}

.title-like{
    display: flex;
    gap:1em;
}


/* Articles */

#articles {
    margin-top: 8vh;
}

.article {
    display: flex;
    align-items: start;
    margin-top: 5vh;
    max-height: 30vh;
}

.article-info {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.article-img {
    max-height: 25vh;
    margin-right: 3vw;
}

.article-title {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 2vh;
}

.article-desc {
    font-size: 1em;
    font-weight: 300;
    text-align: justify;
}

.article-date {
    font-size: 0.8em;
    color: rgb(116, 116, 116);
}
