@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    list-style-type: none;
    text-decoration: none;
}

header {
    display: flex;
    position: fixed;
    z-index: 10;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Nav Site */
.logo {
    width: 3.5vw;
    padding-top: 2vh;
}

.web-nav {
    display: flex;
    justify-content: start;
    background-color: #ffffff;
    width: 4.7vw;
    height: 100vh;
    box-shadow: 1px 0px 4px 1px rgba(0, 0, 0, 0.2);
}

.nav-section {
    display: flex;
    flex-direction: column;
    padding-top: 25vh;
}

.nav-icon {
    width: 2vw;
    margin-block: 2vh;
}

/* Style XML */

main {
    margin-left: 4.7vw;
    display: flex;
    justify-content: center;
}

.container {
    width: 85%;
}


img {
    width: 40vw;
}

.image {
    display: flex;
    margin-top: 5vh;
}

.text {
    display: block;
    margin-left: 5vh;
}

/* Articles */

#articles {
    margin-top: 8vh;
}

.article {
    display: flex;
    align-items: start;
    margin-top: 5vh;
    max-height: 30vh;
}

.article-info {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.article-img {
    max-width: 22vw;
    margin-right: 3vw;
}

.article-title {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 2vh;
}

.article-desc {
    font-size: 1em;
    font-weight: 300;
    text-align: justify;
}

.article-date {
    font-size: 0.8em;
    color: rgb(116, 116, 116);
}

/* Dark-mode */

.dark-mode {
    background-color: #2f2f2f;
    color: #ffffff;
}


/* Footer */

footer {
    padding-block: 8vh;
    margin-top: 15vh;
    height: auto;
    width: (100-4.7)vw;
    background-color: rgba(47, 87, 102, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4.7vw;
    color: #ffffff;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-info-item {
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-title {
    margin-bottom: 2.5vh;
    text-transform: uppercase;
    font-weight: 500;
}

.footer-desc-section {
    text-align: center;
    color: rgba(255, 255, 255, 0.85)
}

.footer-desc {
    margin-bottom: 1vh;
    cursor: pointer;
    color: #ffffff;
    transition: 0.25s;
}

.footer-a {
    text-decoration: none;
}

.footer-desc:hover {
    color: rgba(112, 188, 216, 0.8);
}

.copyright {
    margin-top: 8vh;
    font-size: 0.7em;
    text-align: center;
}

/* Nav Catégories */

.category-nav {
    /* à mettre en none pour dev en attendant la fonctionnalité css */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(74, 137, 162, 0.9);
    backdrop-filter: blur(2.5px);
    position: absolute;
    margin-left: 4.7vw;
    width: 20vw;
    height: 100vh;
    display: none;

    transition: 0.3s;
}

.categories h2 {
    font-size: 1em;
    font-weight: 200;
    color: #ffffff;
}

.category-hr{
    height: 60vh;
    width: 2px;
    background: #ffffff;
}

.categories{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-left: 2em;
    width: 9vw;
}
